*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}body{
    font-family: 'Ubuntu',
    sans-serif;
}


.navbar{
    height: 250px;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(218, 218, 218);
}
.logo{
    /* background: rebeccapurple; */
    position: absolute;
    left: 100rem;
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo p{
font-size: 6rem;
}
.pages{
    position: absolute;
    right: 100rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pages ul{
    list-style: none;
}
.pages ul li{
    display: inline;
    padding: 0 200px;
}
.pages ul li a{
    text-decoration: none;
    font-size: 5rem;
}
.body{
    /* background-color: red; */
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 85vh;   
}
.color-container{
    width: 45vw;
    height: 12vh;
    position: absolute;
    top: 600px;
    background: #181818;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
    color: white;
}
button{
    position: absolute;
    top: 1100px;
    width: 550px;
    height: 180px;
    border: 10px solid white;
    border-radius: 30px;
    cursor: pointer;
    font-size: 6rem;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    transition: 1s ease;
}

button:hover{
    background:#181818
}